/*HEADER*/
header {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.205),
                    rgb(255, 255, 255)), url(../img/banner/headerindex.jpg);
    background-size: cover;
    grid-area: header;
}