/*MENU DE NAVEGACION*/
.nav-menu {
    position: absolute;
    top: 380px;
    height: auto;
    width: 100%;
    &__bloq {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link {
        @include links (rgb(46, 46, 46), 18px, 900);
        padding: 10px 0;
        transition-duration: 100ms;
    }
    &__link:hover {
        color: black;
        transform: scale(1.2);
    }
    &__link:focus {
        color: black;
    }
    &__lista {
        padding: 10px 0;
        transition-duration: 100ms;
    }
    &__lista:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .dropdown-item:hover {
        animation: none;
    }
    &--extenso {
        top: 340px;
    }
}